.App {
  font-family:"Roboto";
  color:#ffffff;
  text-align: center;
  padding: 50px;
  background-image:url("https://wallpapers.com/images/hd/plain-background-02rtrk0zqh6nvdeo.jpg");
  background-size:cover;
  min-height:100vh;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}